.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #122130;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: white;
}

p {
  font-size: 2rem;
  color: white;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.refresh{
  color: white;
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}
